<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Furnish Fusion: Your Online Destination for Stylish Living</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar">
    <h2>Furnish Fusion</h2>

    <div class="nav-links">
    {% if session.get("user_id") %}
        <a href="/home">Home</a>
        <a href="/sofas">Sofas</a>
        <a href="/beds">Beds</a>
        <a href="/tables">Tables</a>
        <a href="/chairs">Chairs</a>
        <a href="/cart">Cart</a>

        <!-- USER ORDER HISTORY -->
        <a href="/my-orders">My Orders</a>

        {% if session.get("role") == "admin" %}
            <!-- ADMIN LINKS -->
            <a href="/admin">Admin Dashboard</a>
            <a href="/admin/orders">All Orders</a>
        {% endif %}

        <a href="/logout" class="btn">Logout</a>
    {% else %}
        <a href="/login" class="btn">Login</a>
        <a href="/register" class="btn">Register</a>
    {% endif %}
</div>

</nav>

<main class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
      {% for category, message in messages %}
       <div class="flash {{ category }}">
        {{ message }}
       </div>
      {% endfor %}
     {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</main>

<script src="{{ url_for('static', filename='js/cart.js') }}"></script>
</body>

</html>


