{% extends "base.html" %}
{% block content %}

<div class="form-box">
<h2>Edit Product</h2>

<form method="POST">
  <input name="name" value="{{ product.name }}"><br><br>

  <select name="category">
    <option value="sofa" {% if product.category=='sofa' %}selected{% endif %}>Sofa</option>
    <option value="bed" {% if product.category=='bed' %}selected{% endif %}>Bed</option>
    <option value="table" {% if product.category=='table' %}selected{% endif %}>Table</option>
    <option value="chair" {% if product.category=='chair' %}selected{% endif %}>Chair</option>
  </select><br><br>

  <input name="price" value="{{ product.price }}"><br><br>
  <input name="image" value="{{ product.image }}"><br><br>

  <button>Update</button>
</form>
</div>

{% endblock %}
